.about {
    width: 80%;
    margin: 0 auto 40px;

    &__title {
        background-color: $light-grey;
        text-align: center;
        padding: 20px;
    }

    &__h1 {
        font-size: 22px;
        color: $dark-grey;
        letter-spacing: 1px;
        @extend %half-margin-top, %default-margin-bottom, %no-margin-left, %no-margin-right;
    }

    .breadcrumb {
        display: flex;
        justify-content: center;
        align-items: center;
        &__link {
            font-size: 12px;
            text-decoration: unset;
            color: $dark-grey;

            &:hover {
                text-decoration: underline;
                color: $purple;
            }
        }

        &__img {
            width: 10px;
            margin: 8px;
        }
    }

    &__img {
        @extend %double-margin-bottom;
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__intro {
        font-weight: 100;
        color: $dark-grey;
        width: 70%;
        margin: 30px auto;
        text-align: center;
        font-size: 16px;
    }

    &__split {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__img2 {
        width: 40%;
    }

    &__txt {
        width: 55%;
    }

    &__p {
        padding: 10px 20px;
        font-size: 14px;
    }
    
}