$purple: #A050BE;
$yellow: #FABE50;
$light-grey: #eaeaeb;
$dark-grey: #464646;
$directions: top, right, bottom, left;
$layout-margin-size: 10px;

%no-decoration { text-decoration: none;}
%u-decoration { text-decoration: underline;}

%no-margin { margin: 0;}

@each $direction in $directions {
    %no-margin-#{$direction} {margin-#{$direction}: 0;}
    %default-margin-#{$direction} {margin-#{$direction}: $layout-margin-size;}
    %double-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 2;}
    %half-margin-#{$direction} {margin-#{$direction}: $layout-margin-size / 2;}
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt;
}

@import 'body';

    .header {
        .logo {
            text-align: center;

            img {
                max-width: 350px;
            }    
        }
        .main-menu {
            .link-list {
                @include reset-list;
                @include flx(justify-content, center);
                border-top: 1px solid $light-grey;
                border-bottom: 1px solid $light-grey;
                width: 80%;
                margin: 0 auto;
                padding: 20px 0;
                
                li {
                    position: relative;

                    &:not(:last-child):after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: -3px;
                        margin: auto;
                        height: 15px;
                        width: 1px;
                        background-color: $light-grey;
                    }
                    .link {
                        @extend %no-decoration;

                        padding: 0 25px;
                        color: $dark-grey;
                        &:hover {
                            color: $purple;
                        }
                    }
                }
            }
        }
    }

    footer {
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;

        .footer-logo {
            img {
                max-width: 100px;
            }
        }

        .footer-txt {
            p {
                margin: auto;
                font-size: 14px;
            }
        }
    }

    .main {
        display: flex;
        flex-wrap: wrap;

        .content {
            width: 70%;
            padding: 40px 10px;

            .post {
                text-align: center;
                max-width: 800px;
                margin: 0 auto;

                .post-title {
                    @extend %no-decoration;

                    color: $dark-grey;
                    font-size: 22px;
                    letter-spacing: 1.5px;
                    &:hover {
                        color: $purple;
                    }
                }

                .post-subtitle {
                    @include flx(justify-content, center);
                    align-items: center;
                    @extend %default-margin-top, %double-margin-bottom;

                    .post-date {
                        // margin: 0 10px;
                        @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
                        font-size: 12px;
                        font-style: italic;
                    }

                    .post-tag {
                        font-size: 14px;
                        padding: 5px 7px;
                        color: $purple;
                        border: 1px solid $purple;
                        // margin: 0 10px;
                        @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
                    }
                }

                .post-details {
                    border: 1px solid $light-grey;

                    img {
                        width: 100%;
                    }

                    .post-description {
                        padding: 40px 0 25px;
                        max-width: 650px;
                        margin: 0 auto;
                        font-size: 14px;
                    }

                    .post-btn {
                        @extend %no-decoration;

                        font-size: 16px;
                        letter-spacing: 1.5px;
                        color: $purple;
                        background-color: $yellow;
                        padding: 10px 20px;
                        transition: .3s;
                        &:hover {
                            color: $yellow;
                            background-color: $purple;
                        }
                    }

                    .post-bottom-info {
                        @include flx(justify-content, space-between);
                        align-items: center;
                        border-top: 1px solid $light-grey;
                        margin-top: $layout-margin-size * 3;

                        .post-author {
                            width: 50%;
                            border-right: 1px solid $light-grey;

                            p {
                                font-size: 14px;
                                color: $dark-grey;
                            }
                        }
                        .post-comments {
                            width: 50%;

                            a {
                                @extend %no-decoration;

                                font-size: 14px;
                                color: $dark-grey;

                                &:hover {
                                    color: $purple;
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar {
            width: 25%;
            padding: 40px 10px;

            .top-sidebar {
                border: 1px solid $light-grey;
                padding: 15px 20px;

                .top-sidebar-title {
                    background-color: $yellow;
                    text-align: center;
                    padding: 10px 20px;
                    margin: 0;
                    letter-spacing: 1.5px;
                }

                .top-sidebar-posts {
                    @include reset-list;

                    li {
                        @include flx(justify-content, center);
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 15px 0;
                        &:not(:last-child) {
                            border-bottom: 1px dashed $light-grey;
                        }

                        img {
                            width: 40%;
                        }
                        .top-sidebar-post-details {
                            width: 50%;
                            padding-left: 10px;

                            .top-sidebar-post-title {
                                @extend %no-decoration;

                                font-size: 14px;
                                color: $purple;

                                &:hover {
                                    @extend %u-decoration;
                                }
                            }
                            .top-sidebar-post-date {
                                margin: 5px 0 0 0;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

.article-post {
    width: 80%;
    margin: 0 auto 40px;

    .article-title {
        background-color: $light-grey;
        text-align: center;
        padding: 20px;

        P {
            font-size: 22px;
            color: $dark-grey;
            letter-spacing: 1px;
            @extend %half-margin-top, %default-margin-bottom, %no-margin-left, %no-margin-right;
        }

        .breadcrumb {
            a {
                font-size: 12px;
                text-decoration: unset;
                color: $dark-grey;

                &:hover {
                    text-decoration: underline;
                    color: $purple;
                }
            }

            span {
                font-size: 12px;
                color: $purple;
            }
        }
    }

    .article-img {
        @extend %double-margin-bottom;
        width: 100%;
    }

    .article-details {
        display: flex;
        justify-content: center;
        align-items: center;

        .post-date {
            @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
            font-size: 12px;
            font-style: italic;
        }

        .post-tag {
            font-size: 14px;
            padding: 5px 7px;
            color: $purple;
            border: 1px solid $purple;
            // margin: 0 10px;
            @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
        }
    }

    .article-content {
        font-weight: 100;
        font-size: 14px;
        color: $dark-grey;
        padding: 10px 20px;
    }

    .about-content {
        img {
            width: 100%;
        }

        p {
            font-weight: 100;
            color: $dark-grey;

            &.intro-text {
                width: 70%;
                margin: 30px auto;
                text-align: center;
                font-size: 16px;
            }
        }

        .split-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {
                width: 40%;
            }
    
            div {
                width: 55%;
    
                p {
                    padding: 10px 20px;
                    font-size: 14px;
                }
            }
        }
    }
}

$half-width: 50%;
$full-width: 100%;
$half-font: 18px;
$full-font: 22px;

@mixin theme-collection($half-post: true) {
    @if $half-post {
        width: $half-width;
    } @else {
        width: $full-width;
    }
}

@mixin font-collection($half-title: true) {
    @if $half-title {
        font-size: $half-font;
      } @else {
        font-size: $full-font;
      }
}

.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .post {
        @include theme-collection($half-post: false);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &.half {
            @include theme-collection($half-post: true);
        }

        .post-img {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .post-about {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 50%;
            text-align: center;

            .post-title {
                @include font-collection($half-title: false);
                color: $dark-grey;
                text-decoration: unset;
                letter-spacing: 1px;
                width: 100%;
                margin: 10px 0;
                &.half {
                    @include font-collection($half-title: true);
                }

                &:hover {
                    color: $purple;
                    text-decoration: underline;
                }
            }

            .post-date {
                @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
                font-size: 12px;
                font-style: italic;
                width: 20%;
            }

            .post-tag {
                font-size: 14px;
                width: 50px;
                padding: 5px 7px;
                color: $purple;
                border: 1px solid $purple;
                // margin: 0 10px;
                @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
            }
        }
    }

    .breadcrumb {
        background-color: $light-grey;
        text-align: center;
        padding: 30px;
        width: 100%;

        a {
            font-size: 18px;
            text-decoration: unset;
            color: $dark-grey;
            letter-spacing: 1px;
            
            &:hover {
                color: $purple;
                text-decoration: underline;
            }
        }

        span {
            color: $purple;
        }
    }
}